<nav class="navbar navbar-dark navbar-right" style="background-color: rgba(119, 63, 172, 0.87);">
    <a class="navbar-brand" href="/">
        <img src="/img/Yahoom.png">

    </a>
    <a class="navbar-left" style="color: white;" href="/">
        <h5>Notícias</h5>

    </a>
    <a class="navbar-left" style="color: white;" href="/">
        <h5>Receitas</h5>

    </a>
    <a class="navbar-left" style="color: white;" href="/">
        <h5>Esportes</h5>

    </a>
    <a class="navbar-left" style="color: white;" href="/">
        <h6>Login/Create Account</h6>

    </a>


</nav>